<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leexplorer.app">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <uses-feature
      android:name="android.hardware.bluetooth_le"
      android:required="true"/>

  <permission
      android:name="com.leexplorer.beaconscanservice.PRIVATE"
      android:protectionLevel="signature"/>

  <uses-permission android:name="com.leexplorer.beaconscanservice.PRIVATE"/>

  <application
      android:name="com.leexplorer.app.LeexplorerApplication"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Theme.Generator">
    <meta-data
        android:name="AA_DB_NAME"
        android:value="leexplorer.db"/>
    <meta-data
        android:name="AA_DB_VERSION"
        android:value="1"/>

    <service
        android:name="com.leexplorer.app.services.MediaPlayerService"
        android:exported="false"/>
    <service
        android:name="com.leexplorer.app.services.BeaconScanService"
        android:exported="false"/>

    <receiver android:name="com.leexplorer.app.receivers.StartupReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
    <receiver
        android:name="com.leexplorer.app.receivers.NotificationReceiver"
        android:exported="false">
      <intent-filter android:priority="-999">
        <action android:name="com.leexplorer.services.beaconscanservice.SHOW_NOTIFICATION"/>
      </intent-filter>
    </receiver>

    <activity
        android:name="com.leexplorer.app.activities.ArtworkListActivity"
        android:label="@string/app_name"
        android:parentActivityName=".activities.GalleryActivity">
      <intent-filter>
        <action android:name=".services.BeaconScanService"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.leexplorer.app.activities.ArtworkActivity"
        android:parentActivityName=".activities.ArtworkListActivity"
        android:label="@string/title_activity_artwork">
      <intent-filter>
        <action android:name=".services.MediaPlayerService"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.leexplorer.app.activities.GalleryListActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.leexplorer.app.activities.GalleryActivity"
        android:parentActivityName=".activities.GalleryListActivity"
        android:label="@string/app_name">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.leexplorer.app.activities.GalleryListActivity"></meta-data>
    </activity>

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyDErYllKMbc3KZHVv_xKY72zY2Iq_M46TI"/>

    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="784c2938b3665197590a2e58f88565ff7f11f7d9"/>

  </application>

</manifest>
